*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

header{
    background-color: rgb(255, 255, 255);
   
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border-bottom: 2px solid black; */

    font-size: 20px;
    /* padding-left: 0; */
  
    /* padding: 20%; */ 

}
.nav_parent{
    height: fit-content;
    width: 80%;
    border-bottom: 2px solid rgb(194, 193, 193);
    display: flex;
    justify-content: flex-end;

}


.navigation{
   
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    height: 70px;
    width: 70%;
    align-items: center;
    /* margin-top: 5px; */
    color: rgb(108, 110, 110); 
}  

.navigation div {
    /* background-color: aqua; */
    columns: rgb(255, 255, 255);

    height: 20px;
    width: 100%;
}

.logo{
    height: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    padding-right: 90px;
    gap: 20px;
    /* justify-content: space-evenly; */
}

/* hr{
    color: rgb(0, 0, 0);
    size: 1px;
    width: 70%;

    
    
} */


.main{
    background-color: rgb(238, 238, 238);
    height: 100%;
    width: 100%;
    display: flex;
}

.left{
    background-color: rgb(238, 238, 238);
    height: 91%;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    padding-top: 6.2vh;
    
    
   
    
  
}

.left h1{
   color: rgb(20, 20, 73);
   padding-top: 90px;
   font-size: 10vh;
}

.left h2{
    color: rgb(125, 125, 172);
    font-size: 10vh;
} 
.left h3{
    color: rgb(20, 20, 73);
    font-size: 10vh;
    font-size: 10vh;
}

.rating{
    background-color: rgb(241, 241, 241);
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-top: -50px;
    margin-bottom: 50vh;

    /* padding-bottom: 50px; */

   
}
.image{
    height: 650px;
    width: 320px;

    background-color: rgb(255, 255, 255);
    border-radius:160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    /* padding-left: 12px;
    padding-right: 12px; */
    margin-top: 50px;
    overflow: hidden;
    border: 20px solid white;
   
}
.image{
    height: 65%;
    width: 46vh;
    margin-top: 20vh;
}
.image img{
   height: 100%;
    margin:5px;
   
    /* padding-left: 50px; */
}
.right{
    position: relative;
    height: 91%;
    width: 40%;
    background-color: rgb(238, 238, 238);

}

.Playbutton{
    height: 100px;
    width: 100px;
    background-color: rgb(30, 29, 54);
    position: absolute;
    bottom: 125px;
    left: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(192, 189, 198);
}
.Playbutton img{
   /* background-color: aqua; */
   height: 60px;
   width: 60px;
   

}

.card{
    background-color: rgb(122, 118, 187);
    height: 27vh;
    width: 90%;
    display: flex;
    border-radius: 3vh;
    justify-content: space-around;
    margin-left: 10vh;
    

}


.innerdiv1 img{
    background-color: rgb(122, 118, 187);
    height: 8vh;
    width: 30%;
    margin-top: 30px;
    margin-left: 35px;
    
}
.innerdiv2{
    height: 5vh;
    width: 60%;
    color: white;
    margin-left: 15px;
}
.innerdiv3{
    height: fit-content;
    width: 100%;
    color: white;
    margin-left: -5px;
}
.box1{
    background-color: rgb(122, 118, 187);
    height: 8vh;
    width: 100%;
}
.box1 img{
    height: 8vh;
    width: 30%;
    margin-top: 30px;
    margin-left: 35px;


 
}
.box2{
    height: 5vh;
    width: 60%;
    color: white;
    margin-left: 15px;

}
.box2 {
    height: 100px;
    width: 100%;
    font-size: 3vh;
    margin-top: 30px;
}
.box3 h5{
   margin-top: -60px;
    color: white; 
    
}
.card3{
    background-color: rgb(60, 56, 120);
    height: 120%;
    width: 20%; 
    margin-top: -20px;
    border-radius: 3vh;
     
}
.best1{
   
    height: 8vh;
    width: 100%;
}
.best1 img{
    height: fit-content;
    height: 8vh;
    width: 40%;
    margin-top: 45px;
    margin-left: 65px;
}
.best2{
    height: 5vh;
    width: 60%;
    color: white;
    font-size: 3vh;
    margin-top: 45px;
    margin-left: 70px;
}
.best3 h5{
    /* font-size: 3vh; */
    color: aliceblue;
    margin-top: 10px;
    margin-left: 60px;
}
.last1{
    background-color: rgb(122, 118, 187);
    height: 8vh;
    width: 100%;
    /* margin-top: 30px;
    margin-left: 10px; */
}
.last1 img{
    background-color: rgb(122, 118, 187);
    height: 8vh;
    width: 30%;
    margin-top: 25px;
    margin-left: 10px;
}
.last2{
    margin-top: 20px;
}
.last3{
    /* background-color: aqua; */
    margin-top: 15px;
    color: white;
    /* margin-top: 30px; */
}

.tamplet{
    background-color: rgb(238, 238, 238);
    height: 80vh;
    width: 90%;
    display: flex;
    margin-top: 100px;
    margin-left: 35vh;
    
}
.tamplet1{
    background-color: rgb(238, 238, 238);
    height: 70vh;
    width: 20%;
    margin-top: 3%;
    border-radius: 20px;
    

}
.upper img{
    height: 35vh;
    width: 320px;
    border-radius: 20px 0px 0px 0px;

    
}
.lower img{
    height: 35vh;
    width: 320px;
    border-radius: 0px 0px 0px 20px;
    
}
.tamplet2{
    background-color: rgb(122, 118, 187);
    height: 100%;
    width: 27%;
    border-radius: 20px;

}
.heading{
    color: rgb(238, 238, 238);
    font-size: 6vh;
    font-weight: bold;
    margin-top: 65px;
    margin-left: 40px;
    
}
.p1{
    background-color: rgb(122, 118, 187);
    height: fit-content;
    width: 75%;
    margin-left: 35px;
    margin-top: 5px;


}
h4{
    color: rgb(198, 198, 198);
    font-weight: 400;
    font-size: 2.4vh;
}
.p2{
    background-color: rgb(122, 118, 187);
    height: fit-content;
    width: 75%;
    margin-left: 35px;
    margin-top: 3.5vh;
}
.more{
    background-color: rgb(39, 39, 101);
    height: 5vh;
    width: 15vh;
    color:rgb(198, 198, 198) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vh;
    font-weight: 500;
    margin-top: 4vh;
    margin-left: 5.3vh;
    border-radius: 5px;
}
.tamplet3{
    background-color: rgb(243, 243, 243);
    height: 70vh;
    width: 27%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0px 20px 20px 0px;
}
.all{
    height: 60vh;
    width: 80%;
    background-color:  rgb(243, 243, 243);
}
.a2 h5{
    color: gray;
}
.all h3{
    font-weight: 700;
    padding-bottom: 20px;
    color: rgb(23, 23, 86);
}
   
.exp{
    display: flex;
}

.exp img{
    height: 7vh;
    width: 6vh;
    /* margin-left: 1vh; */
    
}
.exp h3{
    margin-top: 3vh;
    font-size: 2.2vh;
    
    color: rgb(23, 23, 86);
}

.lorem{
      margin-left: 5vh;
      color: gray;
}
.support{
    display: flex;
}
.support img{
    height: 6vh;
    width: 6vh;
    margin-top: 3vh;
    /* margin-left: 1vh; */
    
}
.inner{
    margin-top: 5vh;
    font-size: 2vh;
    font-weight: 600;
    padding-left: 4px;
    color: rgb(23, 23, 86);
    /* padding-bottom: 1px; */
}
.lorem1{
    margin-left: 5vh;
    color: gray;
}
.certify{
    display: flex;
}
.certify img{
    height: 6vh;
    width: 6vh;
    margin-top: 3vh;
}
.inner1{
    margin-top: 4vh;
    font-size: 2vh;
    font-weight: 600;
    padding-left: 4px;
    color: rgb(23, 23, 86);
}
.lorem2{
    margin-left: 5vh;
    color: gray;
}
ooter{
    height: 150px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainfooter{
    height: 150px;
    width: 80%;
    /* background-color: blue; */
    display: flex;
    margin-left: 5%;
    margin-top: 8vw;
    justify-content: center;
    align-items: center;
}
.foot{
    height: 150px;
    width: 35%;
    /* background-color: aquamarine;     */
}
.foot h5{
    font-size: 20px;
    color: #023048;
}
.foot p{
    font-size: 13px;
    color: gray;
    padding-top: 10px;
}
.foot2{
    height: 60px;
    width: 45%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot3{
    height:60px;
    width: 150px;
    /* background-color: blueviolet; */
}
.foot4{
    height: 60px;
    width: 150px;
    /* background-color: brown; */
}
.foot5{
    height: 60px;
    width: 150px;
    /* background-color: rgb(238, 111, 111); */
}
.maininfo{
    /* background-color: aqua; */
    height:500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
}
.info{
    height: 500px;
    width: 60%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}
.T{
    height: 200px;
    width: 100%;
    /* background-color: brown; */
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.heading h3{
    color: #023048;
}
.para{
    /* background-color: aqua; */
    height: 80px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap: 20px;
}
.para p{
    color: gray;
    font-size: 13px;
}
.para span{
    height: 40px;
    width: 80px;
    color:#6c7b94 ;
    font-size: 13px;
}
.B{
    height: 300px;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.sc{
    height: 250px;
    width: 25%;
    background-color:#6c7b94;
    border-radius: 90px;
    color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid white;
}
.fd{
    height: 250px;
    width: 25%;
    /* background-color: rgb(242, 22, 110); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sh{
    height: 250px;
    width: 25%;
    /* background-color: rgb(110, 87, 241); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.B h5{
    color: #023048;
    font-size: 18px;
}

.fd p{
    font-size: 13px;
    color: gray;
    padding: 10px;
}
.sh p{
    color: gray;
    font-size: 13px;
    padding: 10px;
}
.sc p{
    font-size: 13px;
    padding: 10px;
}
.sc span{
    background-color:#023048;
    padding-right: 20px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fd span{
    background-color: #6c7b94;
    padding-right: 20px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sh span{
    background-color: #6c7b94;
    padding-right: 20px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fd i{
    color: #6c7b94;
}
/* .info{
    background-color: aqua;
    height: 12vw;
    width: 80%;
    display: flex;
    margin-top: 4vw;
    margin-left: 20vh;
    padding-top: 10px;
}
.inbox1{
    background-color: yellow;
    height: 11vw;
    width: 25%;
    margin-top: 0.5vw;
}
.inbox1 h2{
    color: rgb(23, 23, 86);
    
}
p{
   color: gray;
   margin-top: 18px;
}
.inbox2{
    background-color: chartreuse;
    height: 11vw;
    width: 25%;
    margin-top: 0.5vw;
}
.inbox3{
    background-color: darkgreen;
    height: 11vw;
    width: 25%;
    margin-top: 0.5vw;
}
.inbox4{
    background-color: rgb(0, 255, 0);
    height: 11vw;
    width: 25%;
    margin-top: 0.5vw;
    
}
.morex{
    background-color: darkorange;
    height: 10vw;
    width: 90%;
    margin-top: 10vw;
    margin-left: 5%;
    display: flex;
}
.more1 h1{
    background-color: lawngreen;
    height: 10vh;
    
    font-size: 8vh;

}    

.more2{
    background-color: tomato;
    height: 10vh;
    width: 70%;
} */
.parent_moniter {
    height: 570px;
    width: 100%;
    background-color: rgb(91, 95, 122);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.monitor {
    height: 500px;
    width: 25%;
    /* background-color: aqua; */
    color: white;
    padding-left: 20px;
}

.monitor h1 {
    /* padding-top: 20px; */
    font-size: 41px;
}

.monitor p {
    height: 170px;
    width: 100%;
    padding-top: 15px;
    line-height: 1.5;
    /* background-color: azure; */
}

.monitor div {
    background-color: rgb(30, 24, 66);
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 20px;
}

.cctv_img2 {
    height: 590px;
    width: 22%;
    
    margin-top: 21px;
} 

.form_fil {
    height: 590px;
    /* background-color: beige; */
    width: 28%;
    display: flex;
    align-items: center;
    
}

.cctv_form {
    height: 450px;
    width: 100%;
    color: white;
    /* background-color: aquamarine; */

}

.cctv_form h2 {
    font-size: 21px;
    padding-bottom: 20px;
}

.in_1 {
    height: 40px;
    width: 340px;
    background-color: rgb(91, 95, 122);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}

.in_2 {
    height: 40px;
    background-color: rgb(91, 95, 122);
    width: 340px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}

.in_3 {
    height: 160px;
    background-color: rgb(91, 95, 122);
    width: 340px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    padding: 16px;
}

.in_4 {
    background-color: rgb(30, 24, 66);
    height: 35px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
}

.parent_Steps {
    height: 640px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps {
    height: 600px;
    width: 87%;
    /* background-color: beige; */
}

.step_1 {
    height: 200px;
    width: 100%;
    /* background-color: rgb(194, 125, 42); */
    display: flex;
    color: rgb(26, 18, 71);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step_1 h2 {
    font-size: 45px;
}

.step_1 p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.Step_2 {
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.Discus {
    height: 230px;
    width: 335px;
    background-color: rgb(254, 252, 250);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Discus p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
}

.Discus h3 {
    font-size: 24px;
    padding-top: 35px;
}

.instal {
    height: 230px;
    width: 335px;
    background-color: rgb(109, 92, 155);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid rgb(214, 214, 214);
}

.instal p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
}

.instal h3 {
    font-size: 24px;
    padding-top: 35px;
}

.maintenance {
    height: 230px;
    width: 335px;
    background-color: rgb(253, 251, 249);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maintenance p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
}

.maintenance h3 {
    font-size: 24px;
    padding-top: 35px;
}

.aro {
    height: 50px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
}

.D_icon {
    height: 100px;
    width: 100px;
    background-color: rgb(109, 92, 155);
    position: absolute;
    top: 25px;
    left: 115px;
    border-radius: 50px;
}

.I_icon {
    height: 100px;
    width: 100px;
    background-color: rgb(30, 24, 66);
    position: absolute;
    top: 25px;
    left: 600px;
    border-radius: 50px;
}

.M_icon {
    height: 100px;
    width: 100px;
    background-color: rgb(109, 92, 155);
    position: absolute;
    top: 25px;
    right: 115px;
    border-radius: 50px;
}
.kudnar{
    display: flex;
    height: 25vh;

}
.kudnar1{
    height: 6vh;
    width: 90%;
    margin-left: 40vh;
    margin-top: 9vh;
    font-size: 3.6vh;
    color: rgb(30, 24, 66);
}
.kudnar2{
    height: 6vh;
    width: 100%;
    margin-left: 5vh;
    margin-top: 12vh;
    color: gray;
}
.lm{
    margin-top: 3vh;
    font-size: 2vh;
    color: rgb(30, 24, 66);
}
.review{
    
    height: 20vw;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.review1 img{
    height: 40vh;
    width: 100%;
    border-radius: 30px 0px 0px 30px;
    
}
.review2{
    background-color: rgb(9, 9, 87);
    height: 40vh;
    width: 30%;
    margin-bottom: 4px;
    border-radius: 0px 30px 30px 0px;
}
.review2 img{
     height: 3vh;
     /* background-color: bisque; */
     /* width: 6vw; */
     margin-left: 8vh;
     margin-top: 50px;
}
.review2 p{
      height: 15vh;
      margin-left: 8vh;
      margin-right: 8vh;
      color: rgb(191, 191, 191);
      /* background-color: bisque; */
      /* display: flex;
      align-items: center; */
}

.prff{
    height: 15vh;
    /* width: vh; */
    margin-left: -25vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.prff img{
    
    height: 10vh;
    width: 10vh;
    margin-bottom: 10vh;
    border-radius: 100px;
    margin-left: 17vh;
    
    
}
.client{
    /* background-color: black; */
    width: 25vh;
    margin-left: 2vh;
    margin-bottom: 2vw;
}
.client h4{
    color: white;
    font-weight: 900;
}
.client h5{
    color: white;
}
.sol{
    background-color: rgb(141, 141, 194);
    height: 50vh;
    width: 100%;
    margin-top: 5vw;
    padding-top: 10px;
}
.sol1{
    height: 15vh;
    width: 40%;
    background-color: rgb(141, 141, 194);
    color: rgb(225, 225, 225);
    margin-left: 30%;
    padding-top: 10px;
    margin-top: 5vh;
    text-align: center;
    font-size: 3vh;
    
}
.sol2{
    height: 8vh;
    width: 100%;
    background-color: rgb(141, 141, 194);
    color: rgb(206, 206, 206);
    text-align: center;
    padding-top: 17px;

}
.sol3{
    background-color: rgb(30, 24, 66);
    color: rgb(230, 230, 230);
    height: 6vh;
    width: 9%;
    padding-top: 10px;
    margin-left: 43%;
    margin-top: 20px;
    padding-left: 23px;
    border-radius: 15px;
}
.blog{
    height: 20vh;
    width: 100%;
    background-color: white;
    margin-top: 6vh;
    padding-top: 4vh;

}
.blog h1{
    display: flex;
    /* margin-top: 15vh; */
    justify-content: center;
    padding-bottom: 2vh;
    color: rgb(9, 9, 87);
}
.blog h5{
    text-align: center;
    color: rgb(109, 109, 109);
    
}
.last2n{
    background-color: white;
    height: 40vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;
    

}
.lastcard1{
    /* background-color: rgb(255, 255, 255); */
    height: 30vw;
    width: 20%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
}
.lastcard1 img{
    height: 70%;
    width: 100%;

}
.fold{
    height: 4vh;
    width: 3vh;
    display: flex;
    margin-left: 2px;
}
.fold h6{
    margin-top: 3px;
    color: rgb(107, 107, 107);
}
.ss{
    color: rgb(9, 9, 87);
    font-weight: 600;
    font-size: 2vh;
}
.lastcard1 p{
     color: rgb(107, 107, 107);
}
.lmore{
    height: 3vh;
    width: 8vw;
    margin-top: 9px;
    color: rgb(30, 24, 66);
    font-weight: 500;
    font-size: 2vh;
}
        
       
.lastcard2{
    /* background-color: rgb(255, 255, 255); */
    height: 30vw;
    width: 20%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
}
.lastcard2 img{
    height: 70%;
    width: 100%;
}
.fold2{
    height: 4vh;
    width: 3vh;
    display: flex;
    margin-left: 2px;
}
.fold h6{
    margin-top: 3px;
    color: rgb(107, 107, 107);
}
.ss2{
    color: rgb(9, 9, 87);
    font-weight: 600;
    font-size: 2vh;
}
.lastcard3 p{
     color: rgb(107, 107, 107);
}
.lmore2{
    height: 3vh;
    width: 8vw;
    margin-top: 9px;
    color: rgb(30, 24, 66);
    font-weight: 500;
    font-size: 2vh;
}
.lastcard3{
    /* background-color: rgb(255, 255, 255); */
    height: 30vw;
    width: 20%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
}
.lastcard3 img{
    height: 70%;
    
}
.fold3{
    height: 4vh;
    width: 3vh;
    display: flex;
    margin-left: 2px;
}
.fold h6{
    margin-top: 3px;
    color: rgb(107, 107, 107);
}
.ss3{
    color: rgb(9, 9, 87);
    font-weight: 600;
    font-size: 2vh;
}
.lastcard3 p{
     color: rgb(107, 107, 107);
}
.lmore3{
    height: 3vh;
    width: 8vw;
    margin-top: 9px;
    color: rgb(30, 24, 66);
    font-weight: 500;
    font-size: 2vh;
}.mainend{
    height:400px;
    width: 100%;
    background-color:  #6c7b94;
    display: flex;
    justify-content: center;
}
.end{
    height:400px;
    width: 80%;
    /* background-color:  blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.ON{
    height:160px;
    width: 80%;
    /* background-color:aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.on{
    height: 160px; 
    width: 40%;
    /* background-color: rgb(82, 24, 120); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.on h4{
    font-size: 30px;
    color: white;
    padding-right: 170px;
}
.on p{
    font-size: 13px;
    color: white;
}
.ESB{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height:160px;
    width: 60%;
    gap: 30px;
}
.ESB input{
    height: 40px;
    width:50%;
    padding-left: 15px;
    border-radius: 10px;
}
.ESB button{
    height:40px;
    width: 30%;
    color: white;
    background-color:#023048;
}
.basicinfo{
    height: 200px;
    width: 80%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bin{
    height: 180px;
    width: 100%;
    /* background-color: rgb(31, 228, 100); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid rgb(209, 207, 207);
}
.paraicon{
    height:180px;
    width:35%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.bi{
    width: 50%;
    height: 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding-right: 190px;
    color: white;
}
.bi1{
    height: 35px;
    width: 300px;
    background-color: #023048;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.bi2{
    height: 35px;
    width: 300px;
    background-color: #023048;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.bi3{
    height: 35px;
    width: 300px;
    background-color: #023048;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.navigation{
    height: 180px;
    width: 18%;
    /* background-color: rgb(128, 128, 240); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.QL{
    height: 180px;
    width: 18%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Wh{
    height: 180px;
    width: 18%;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.basicinfo li{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-top: 10px;
}
.Whi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Wh h3{
    padding-bottom: 30px;
}
.fe{
    display: flex;
    justify-content: center;
    align-items: center;
}